<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{url_for('static', filename='ninja.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='ninja.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <title>{% block title %}{% endblock %}</title>
    <link rel ="stylesheet" type="text/css" href= "{{url_for('static', filename='style.css')}}" />
    <link rel="icon" href="{{url_for('static', filename='logoa.png')}}" width="60px" height = "20px" type="image/icon type">
</head>
<body>
    <div class ="logo">
    <ul>
        <li><a href="/"><img src="{{url_for('static', filename='logoa.png')}}" width="70px" height = "40px" /><span>Translate</span>Ninja</a></li>
    </ul>
    </div>
    {% block content %} 
    {% endblock %}
</body>
</html>